<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>

    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

<div class="login-container">

    <div class="card">

        <h2>Crear Cuenta</h2>

        <div class="form-group">
            <label>Username</label>

            <input
                type="text"
                id="username"
                placeholder="Ingrese username"
            >
        </div>

        <div class="form-group">
            <label>Email</label>

            <input
                type="email"
                id="email"
                placeholder="Ingrese email"
            >
        </div>

        <div class="form-group">
            <label>Nombre completo</label>

            <input
                type="text"
                id="full-name"
                placeholder="Ingrese nombre"
            >
        </div>

        <div class="form-group">
            <label>Password</label>

            <input
                type="password"
                id="password"
                placeholder="Ingrese password"
            >
        </div>

        <button class="primary-btn" onclick="register()">
            Crear usuario
        </button>

        <p id="message"></p>

        <div class="register-link">
            <a href="/">
                Volver al login
            </a>
        </div>

    </div>

</div>

<script>

async function register() {

    const username =
        document.getElementById('username').value;

    const email =
        document.getElementById('email').value;

    const full_name =
        document.getElementById('full-name').value;

    const password =
        document.getElementById('password').value;

    const message =
        document.getElementById('message');

    try {

        const res = await fetch(
            '/users/',
            {
                method: 'POST',

                headers: {
                    'Content-Type': 'application/json'
                },

                body: JSON.stringify({
                    username,
                    email,
                    full_name,
                    password
                })
            }
        );

        if (res.ok) {

            message.textContent =
                'Usuario creado correctamente';

            setTimeout(() => {
                window.location.href = '/';
            }, 1500);

        } else {

            const data = await res.json();

            message.textContent =
                data.detail || 'Error creando usuario';
        }

    } catch(e) {

        console.error(e);

        message.textContent =
            'Error de conexión';
    }
}

</script>

</body>
</html>